{% extends 'base.html' %}

{% block subtitle %}Create Embedding{% endblock %}

{% block margin_content %}
<h4>Creating new Word Embedding</h4>
<hr />
<form method="POST" action="{{ url_for('embeddings.create') }}">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="name">Embedding Config Name: </label>
        <div class="col-sm-10">
            <input type="text" size="30" id="name" name="name" required/>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="training_q">Training Data Query: </label>
        <div class="col-sm-10">
            <input type="text" size="100" id="training_q" name="training_q" required value="{{default_q}}" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="type">Type: </label>
        <div class="col-sm-10">
            <select id="type" onchange="typeChanged()" name="type">
                {% for type in args %}
                <option value="{{type}}">{{type}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <hr />

    <div id="params-div"></div>

    <hr />

    <input type="submit" class="btn btn-primary" value="Create Embedding Config">
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='model_form.js')}}"></script>
<script>
args = {{args|tojson|safe}}

function typeChanged() {
    new_type = document.getElementById('type').value
    this_new_html = ""
    args[new_type].forEach(element => {
        config = {
            tooltip: element.description,
            name: element.name,
            label: element.name,
            type: element.type
        }
        if (element.type === "int") {
            config.type = "number"
            config.extra = []
            if (element.hasOwnProperty('minimum')) {
                config.extra.push({
                    type: "attribute",
                    value: `min=${element.minimum}`
                })
            }
            if (element.hasOwnProperty('maximum') && element.maximum) {
                config.extra.push({
                    type: "attribute",
                    value: `max=${element.maximum}`
                })
            }
        }
        if (element.hasOwnProperty('options')) {
            config.type = 'select'
            config.options = JSON.parse(JSON.stringify(element.options))
        }
        defaults = {}
        if (element['has-default']) {
            defaults[element.name] = element.default
        }
        this_new_html += render_field(config, "", "small", defaults)
    });
    document.getElementById('params-div').innerHTML = this_new_html
}

typeChanged()
</script>
{% endblock %}