{% extends 'base.html' %}

{% block subtitle %}View Embedding {{e['name']}}{% endblock %}

{% block margin_content %}

<h3>Viewing ML Word Embedding: {{e['name']}}</h3>

<div class="d-flex flex-row-reverse">
    <button class="btn btn-danger m-2" onclick="deleteEmbedding()">Delete Embedding</button>

    <button class="btn btn-primary m-2" onclick="trainEmbedding()">Train Embedding</button>
</div>
<p>Has a trained file: {{e['has_file']}}</p>

<div class="card m-2">
    <div class="card-body">
        <h4>Configuration</h4>
        <ul>
            {% for c in e['config'] %}
                {% if c == 'training-data-query' %}
                <li>Training Data Query: {{e['config'][c]}}</li>
                {% elif c == 'params' %}
                <li>Parameters:
                    <ul>
                        {% for p in e['config'][c][e['config']['generator']+".0"] %}
                        <li>{{p}}: {{e['config'][c][e['config']['generator']+".0"][p]}}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li>{{c.title()}}: {{e['config'][c]}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
embedding_id = "{{e['embedding_id']}}"

function alertPopup(e) {
    str = `Something went wrong while processing your request. Code returned was: ${e.status}.`
    
    e.json().then(data => {
        str += "\n\nResponse body:\n"
        str += JSON.stringify(data)
        alert(str)
    })
    .catch(err => {
        alert(str)
    })
}

function deleteEmbedding() {
    fetch(`/embed/delete/${embedding_id}`, {method: "DELETE"})
    .then(e => {
        if (e.status != 200) {
            alertPopup(e)
        }
        else {
            location.replace({{url_for('embeddings.viewall')}})
        }
    })
}

function trainEmbedding() {
    fetch(`/embed/train/${embedding_id}`, {method: "POST"})
    .then(e => {
        if (e.status != 200) {
            alertPopup(e)
        }
        else {
            location.reload()
        }
    })
}
</script>
{% endblock %}