{% extends 'base.html' %}

{% block subtitle %}Create Tag{% endblock %}

{% block margin_content %}
<h4>
    Create New Tag
</h4>
<form method="POST" id="create_tag" action="{{url_for('tags.create')}}">
    <div class="form-group">
        <label for="tag_name" class="col-form-label">Tag Name: </label>
        <input name="tag_name" id="tag_name" type="text" required />
    </div>
    <div>
        <label for="tag_desc" class="col-form-label">Tag Description: </label>
        <input name="tag_desc" id="tag_desc" type="text" required />
    </div>

    <input class="btn btn-primary my-2" type="submit" value="Create Tag" />
</form>
{% endblock %}