{% extends 'base.html' %}

{% block subtitle %}Tags{% endblock %}

{% block margin_content %}
<form action="{{url_for('tags.viewform')}}" method="GET">
    <input type="submit" value="Create New Tag" class="btn btn-primary my-2" />
</form>
<div class="card my-2">
    <div class="card-body">
        <h4>Available Tags</h4>
        <table class="table table-striped">
            <thead>
                <th>Tag Name</th>
                <th>Description</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td><b>{{tag}}</b></td>
                    <td>{{tags[tag]}}</td>
                    <td><button class="btn btn-danger" onclick="deleteTag('{{tag}}')">Delete Tag</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul>
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function deleteTag(tag) {
    fetch(`tags/delete/${tag}`, {method: "DELETE"})
    .then(e => {
        if (e.status != 200) {
            alertDbError(e)
        }
        else {
            location.reload()
        }
    })
}

function alertDbError(response) {
    str = `Something went wrong while processing your request: DB API returned code ${response.status}.`
    if (response.status == 401)
        str += " Double-check if you're logged in correctly!"
    response.json().then(data => {
        str += "\n\nResponse body:\n"
        str += JSON.stringify(data)
        alert(str)
    })
    .catch(e => {
        alert(str)
    })
}
</script>
{% endblock %}