{% extends 'base.html' %}

{% block subtitle %}New Model{% endblock %}

{% macro render_field(field, type='default') %}
    <div class="form-group py-2 ">
        {% if type == 'size_30' %}
            <label for="{{field.id}}" title="{{field.description}}">{{field.label.text}}</label>
            {{ field(title=field.description, size=30) }}
        {% elif type == 'default' %}
        <label for="{{field.id}}" title="{{field.description}}">{{field.label.text}}</label>
            {{ field(title=field.description) }}
        {% elif type == 'inverted' %}
            {{ field(title=field.description) }}
            <label for="{{field.id}}" title="{{field.description}}">{{field.label.text}}</label>
        {% endif %}
    </div>
{% endmacro %}

{% block margin_content %}
<form method="POST" id ="newmodel" action="{{ url_for('models.postModel') }}">
    {{ form.csrf_token }}

    <ul class="nav nav-tabs" id="paramCats" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pre-processing-tab" data-bs-toggle="tab" data-bs-target="#pre-processing" type="button" role="tab" aria-controls="pre-processing" aria-selected="false">Pre-Processing</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="classifier-tab" data-bs-toggle="tab" data-bs-target="#classifier" type="button" role="tab" aria-controls="classifier" aria-selected="false">Classifier</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="training-tab" data-bs-toggle="tab" data-bs-target="#training" type="button" role="tab" aria-controls="training" aria-selected="false">Training</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="ensemble-tab" data-bs-toggle="tab" data-bs-target="#ensemble" type="button" role="tab" aria-controls="ensemble" aria-selected="false">Ensemble Learning</button>
        </li>
    </ul>

    <div class="tab-content" id="paramCatsContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
            <!-- tab: general -->
            {{ render_field(form.model_name_field, 'size_30') }}
            {{ render_field(form.output_mode_field) }}
        </div>
        <div class="tab-pane fade" id="pre-processing" role="tabpanel" aria-labelledby="pre-processing-tab">
            <!-- tab: pre-processing -->
            {{ render_field(form.apply_ontology_classes_field, 'inverted') }}
            {{ render_field(form.input_mode_field) }}
            <hr/>
            <div id="input_mode_parameters">

            </div>
        </div>
        <div class="tab-pane fade" id="classifier" role="tabpanel" aria-labelledby="classifier-tab">
            <!-- tab: classifier -->
            {{ render_field(form.classifier_field) }}
            <hr/>
            <div id="classifier_hyper_parameters"></div>
        </div>
        <div class="tab-pane fade" id="training" role="tabpanel" aria-labelledby="training-tab">
            <!-- tab: training -->
            {{ render_field(form.epochs_field) }}
            {{ render_field(form.split_size_field) }}
            {{ render_field(form.max_train_field) }}
            {{ render_field(form.quick_cross_field, 'inverted') }}
            {{ render_field(form.architectural_only_field, 'inverted') }}
            {{ render_field(form.project_mode_field) }}
            <div class="ps-4" id="test_project_field_div">
                {{ render_field(form.test_project_field, 'size_30') }}
            </div>
            {{ render_field(form.class_balancer_field, 'size_30') }}
            {{ render_field(form.batch_size_field) }}
            {{ render_field(form.use_early_stopping_field, 'inverted') }}
            <div id="early_stopping_div" class="ps-4">
                {{ render_field(form.early_stopping_patience_field) }}
                {{ render_field(form.early_stopping_min_delta_field) }}
                {{ render_field(form.early_stopping_attribute_field) }}
            </div>
            
        </div>
        <div class="tab-pane fade" id="ensemble" role="tabpanel" aria-labelledby="ensemble-tab">
            <!-- tab: ensemble -->
            {{ render_field(form.combination_strategy_field) }}
            {{ render_field(form.ensemble_strategy_field) }}
            {{ render_field(form.stacking_meta_classifier_field) }}
            {{ render_field(form.stacking_meta_classifier_hyper_params_field, 'size_30') }}
            {{ render_field(form.stacking_use_concat_field, 'inverted') }}
            {{ render_field(form.stacking_no_matrix_field, 'inverted') }}
            {{ render_field(form.boosting_rounds_field) }}
        </div>
    </div>

    <hr/>
    <input type="submit" value="Create New Model" class="my-2">

</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
document.getElementById('classifier_select').onchange = function() {
    c_selected = this.value
    hp = {{hyper_params|tojson|safe}}[c_selected]
    new_html = ''

    hp.forEach(hparam => {
        tooltip = `[min, max] = [${hparam.min}, ${hparam.max}] -- default = ${hparam.default}`
        new_html += '<div class="form-group py-2">\n'
        switch(hparam.type) {
            case 'str':
                new_html += `<label title="${tooltip}" for="hparam_${hparam.name}">${hparam.name} </label>\n`
                new_html += `<input title="${tooltip}" type="text" size="30" name="hparam_${hparam.name}" id="hparam_${hparam.name}">\n`
                break;
            case 'int':
                new_html += `<label title="${tooltip}" for="hparam_${hparam.name}">${hparam.name} </label>\n`
                new_html += `<input title="${tooltip}" type="number" size="10" name="hparam_${hparam.name}" id="hparam_${hparam.name}">\n`
                break;
            case 'bool':
                new_html += `<input title="${tooltip}" type="checkbox" size="1" name="hparam_${hparam.name}" id="hparam_${hparam.name}">\n`
                new_html += `<label title="${tooltip}" for="hparam_${hparam.name}"> ${hparam.name}</label>\n`
                break;
            default:
                console.log('ERROR: unhandled type: ' + hparam.type)
        }
        new_html += '</div>\n'
    });

    document.getElementById('classifier_hyper_parameters').innerHTML = new_html
}
document.getElementById('classifier_select').onchange() // run once to init
</script>

<script>
document.getElementById('input_mode_field').onchange = function() {
    selected = this.value
    params = {{inmode_params|tojson|safe}}[selected]
    new_html = ''

    params.forEach(param => {
        if (param.name.startsWith('pretrained-')) return;
            
        new_html += '<div class="form-group py-2">\n'
        switch(param.type) {
            case 'str':
                new_html += `<label title="${param.desc}" for="param_${param.name}">${param.name} </label>\n`
                new_html += `<input title="${param.desc}" type="text" size="30" name="param_${param.name}" id="param_${param.name}">\n`
                break;
            case 'int':
                new_html += `<label title="${param.desc}" for="param_${param.name}">${param.name} </label>\n`
                new_html += `<input title="${param.desc}" type="number" size="10" name="param_${param.name}" id="param_${param.name}">\n`
                break;
            case 'bool':
                new_html += `<input title="${param.desc}" type="checkbox" size="1" name="param_${param.name}" id="param_${param.name}">\n`
                new_html += `<label title="${param.desc}" for="param_${param.name}"> ${param.name}</label>\n`
                break;
            default:
                console.log('ERROR: unhandled type: ' + param.type)
        }
        new_html += '</div>\n'
    })

    document.getElementById('input_mode_parameters').innerHTML = new_html
}
document.getElementById('input_mode_field').onchange()
</script>

<script>
document.getElementById('project_mode_field').onchange = function() {
    selected = this.value.toLowerCase()
    switch (selected) {
        case 'test-project':
            document.getElementById('test_project_field_div').setAttribute('class', 'ps-4')
            break;
        default:
            document.getElementById('test_project_field_div').setAttribute('class', 'ps-4 d-none')
    }
}
document.getElementById('project_mode_field').onchange()

document.getElementById('use_early_stopping_field').onchange = function() {
    toChange = document.getElementById('early_stopping_div')
    if (this.checked) {
        toChange.setAttribute('class', 'ps-4')
    }
    else {
        toChange.setAttribute('class', 'ps-4 d-none')
    }
}
document.getElementById('use_early_stopping_field').onchange()
</script>
{% endblock %}