{% extends 'base.html' %}

{% block subtitle %}New Model{% endblock %}

{% block margin_content %}
<form method="POST" id ="newmodel" action="{{ url_for('models.postModel') }}">
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.model_name_field.label }}
        {{ form.model_name_field(size=30) }}
    </div>

    <!-- pre-processing -->

    <!-- training -->
    <div>
    </div>
    <div class="form-group">
        {{ form.classifier_field.label }}
        {{ form.classifier_field() }}
    </div>

    <div class="form-group">
        {{ form.epochs_field}}
    </div>

    <!-- ensemble (?) -->

    <p>
        <input type="submit" value="Create New Model">
    </p>

</form>
{% endblock %}