{% extends 'base.html' %}

{% block subtitle %}New Model{% endblock %}

{% macro render_field(field, type='default') %}
    <div class="form-group py-2 ">
        {% if type == 'size_30' %}
            <label for="{{field.id}}" title="{{field.description}}">{{field.label.text}}</label>
            {{ field(title=field.description, size=30) }}
        {% elif type == 'default' %}
        <label for="{{field.id}}" title="{{field.description}}">{{field.label.text}}</label>
            {{ field(title=field.description) }}
        {% elif type == 'inverted' %}
            {{ field(title=field.description) }}
            <label for="{{field.id}}" title="{{field.description}}">{{field.label.text}}</label>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_tab_header(name, title, active = false) %}
<li class="nav-item" role="presentation" id="{{name}}-tab-header">
    {% if active %}
    <button class="nav-link active" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}" type="button" role="tab" aria-controls="{{name}}" aria-selected="true">{{title}}</button>
    {% else %}
    <button class="nav-link" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}" type="button" role="tab" aria-controls="{{name}}" aria-selected="false">{{title}}</button>
    {% endif %}
</li>
{% endmacro %}

{% macro render_tab_div(name, active=false) %}
    {% if active %}
        <div class="tab-pane fade show active" id="{{name}}" role="tabpanel" aria-labelledby="{{name}}-tab">
    {% else %}
        <div class="tab-pane fade" id="{{name}}" role="tabpanel" aria-labelledby="{{name}}-tab">
    {% endif %}
{% endmacro %}


{% block margin_content %}
<form method="POST" id ="newmodel" action="{{ url_for('models.postModel') }}">
    {{ form.csrf_token }}

    <ul class="nav nav-tabs" id="paramCats" role="tablist">
        {{ render_tab_header('general', 'General', true) }}
        {{ render_tab_header('training', 'Training') }}

        {{ render_tab_header('classifier', 'Classifier') }}
        {{ render_tab_header('pre-processing', 'Pre-Processing') }}

        {{ render_tab_header('classifiers', 'Ensemble Classifiers') }}
        {{ render_tab_header('meta-classifier', 'Ensemble Meta Classifier') }}
    </ul>

    <div class="tab-content" id="paramCatsContent">
        {{ render_tab_div('general', true) }}
            <!-- tab: general -->
            {{ render_field(form.model_name_field, 'size_30') }}
            {{ render_field(form.output_mode_field) }}
            {{ render_field(form.model_mode_field) }}
            <div class="ps-4" id="combination_strategy_field_div">
                {{ render_field(form.combination_strategy_field) }}
            </div>
        </div>
        {{ render_tab_div('training') }}
            <!-- tab: training -->
            {{ render_field(form.epochs_field) }}
            {{ render_field(form.split_size_field) }}
            {{ render_field(form.max_train_field) }}
            {{ render_field(form.architectural_only_field, 'inverted') }}
            {{ render_field(form.project_mode_field) }}
            <div class="ps-4" id="test_project_field_div">
                {{ render_field(form.test_project_field, 'size_30') }}
            </div>
            {{ render_field(form.class_balancer_field) }}
            {{ render_field(form.apply_ontology_classes_field, 'inverted') }}
            {{ render_field(form.batch_size_field) }}
            {{ render_field(form.use_early_stopping_field, 'inverted') }}
            <div id="early_stopping_div" class="ps-4">
                {{ render_field(form.early_stopping_patience_field) }}
                {{ render_field(form.early_stopping_min_delta_field) }}
                {{ render_field(form.early_stopping_attribute_field) }}
            </div>
        </div>

        {{ render_tab_div('classifier') }}
            <!-- tab: classifier -->
            {{ render_field(form.classifier_field) }}
            <hr/>
            <div id="classifier_hyper_parameters"></div>
        </div>
        {{ render_tab_div('pre-processing') }}
            <!-- tab: pre-processing -->
            {{ render_field(form.input_mode_field) }}
            <hr/>
            <div id="input_mode_parameters"></div>
        </div>

        {{ render_tab_div('classifiers') }}
            {{ render_field(form.ensemble_classifier_count_field) }}
            <div id="ensemble_classifiers_div" class="accordion"></div>
        </div>
        {{ render_tab_div('meta-classifier')}}
            <!-- tab: ensemble -->
            {{ render_field(form.stacking_meta_classifier_field) }}
            <div id="meta_classifier_hparams"></div>
        </div>
    </div>

    <hr/>
    <input type="submit" value="Create New Model" class="my-2">

</form>
{% endblock %}
{% block scripts %}
{{ super() }}

{# input select changes #}
<script>
document.getElementById('input_mode_field').onchange = function() {
    selected = this.value
    params = {{inmode_params|tojson|safe}}[selected]
    new_html = ''

    params.forEach(param => {
        if (param.name.startsWith('pretrained-')) return;
            
        new_html += '<div class="form-group py-2">\n'
        switch(param.type) {
            case 'str':
                new_html += `<label title="${param.desc}" for="param_${param.name}">${param.name} </label>\n`
                new_html += `<input title="${param.desc}" type="text" size="30" name="param_${param.name}" id="param_${param.name}">\n`
                break;
            case 'int':
                new_html += `<label title="${param.desc}" for="param_${param.name}">${param.name} </label>\n`
                new_html += `<input title="${param.desc}" type="number" size="10" name="param_${param.name}" id="param_${param.name}">\n`
                break;
            case 'bool':
                new_html += `<input title="${param.desc}" type="checkbox" size="1" name="param_${param.name}" id="param_${param.name}">\n`
                new_html += `<label title="${param.desc}" for="param_${param.name}"> ${param.name}</label>\n`
                break;
            default:
                console.log('ERROR: unhandled type: ' + param.type)
        }
        new_html += '</div>\n'
    })

    document.getElementById('input_mode_parameters').innerHTML = new_html
}
document.getElementById('input_mode_field').onchange()
</script>

{# classifier select changes #}
<script>
document.getElementById('classifier_select').onchange = function() {
    c_selected = this.value
    generate_hparams(c_selected)
    toggle_valid_input_modes(c_selected)
}

function generate_hparams(c_selected) {
    hp = {{hyper_params|tojson|safe}}[c_selected]
    new_html = ''

    hp.forEach(hparam => {
        tooltip = `[min, max] = [${hparam.min}, ${hparam.max}] -- default = ${hparam.default}`
        new_html += '<div class="form-group py-2">\n'

        switch(hparam.name) {
            case 'loss':
                new_html += `<label title="${tooltip}" for="hparam_${hparam.name}">${hparam.name} </label>\n`
                new_html += `<select title="${tooltip}" name="hparam_${hparam.name}" id="hparam_${hparam.name}">\n`
                options = ['crossentropy', 'hinge']
                options.forEach(option => {
                    new_html += `<option value="${option}">${option}</option>\n`
                })
                new_html += `</select>\n`
                new_html += '</div>\n'
                break;

            case 'optimizer':
                new_html += `<label title="${tooltip}" for="hparam_${hparam.name}">${hparam.name} </label>\n`
                new_html += `<select title="${tooltip}" name="hparam_${hparam.name}" id="hparam_${hparam.name}" onchange="optimizerChange()">\n`
                options = ['adam', 'sgd']
                options.forEach(option => {
                    new_html += `<option value="${option}">${option}</option>\n`
                })
                new_html += `</select>\n`
                new_html += '</div>\n'

                // need to allow users to input a float for the sgd
                new_html += `<div class='ps-4 d-none' id='hparam_optimizer_sgd_container'>\n`
                new_html += `<div class='form-group py-2'\n`
                // got below from https://keras.io/api/optimizers/sgd/
                tooltip = "Float hyperparameter >= 0 that accelerates gradient descent in the relevant direction and dampens oscillations. Defaults to 0, i.e., vanilla gradient descent."
                name = "hparam_optimizer_sgdvalue"
                new_html += `<label title="${tooltip}" for="${name}">SGD Momentum</label>\n`
                new_html += `<input title="${tooltip}" type="number" size="10" name="${name}" id="${name}" value="0.0">\n`
                new_html += `</div>\n`
                new_html += `</div>\n`
                break;

            default:
                switch(hparam.type) {
                    case 'str':
                        new_html += `<label title="${tooltip}" for="hparam_${hparam.name}">${hparam.name} </label>\n`
                        new_html += `<input title="${tooltip}" type="text" size="30" name="hparam_${hparam.name}" id="hparam_${hparam.name}">\n`
                        break;
                    case 'int':
                        new_html += `<label title="${tooltip}" for="hparam_${hparam.name}">${hparam.name} </label>\n`
                        new_html += `<input title="${tooltip}" type="number" size="10" name="hparam_${hparam.name}" id="hparam_${hparam.name}">\n`
                        break;
                    case 'bool':
                        new_html += `<input title="${tooltip}" type="checkbox" size="1" name="hparam_${hparam.name}" id="hparam_${hparam.name}">\n`
                        new_html += `<label title="${tooltip}" for="hparam_${hparam.name}"> ${hparam.name}</label>\n`
                        break;
                    default:
                        console.log('ERROR: unhandled type: ' + hparam.type)
                        break;
                }
                new_html += '</div>\n'
                break;
        }
    });

    document.getElementById('classifier_hyper_parameters').innerHTML = new_html
}

function toggle_valid_input_modes(c_selected) {
    valid_im = {{inmode_per_classifier|tojson|safe}}[c_selected]
    new_html = ''
    valid_im.forEach(mode => {
        new_html += `<option value="${mode}">${mode}</option>\n`
    })
    document.getElementById('input_mode_field').innerHTML = new_html
    document.getElementById('input_mode_field').onchange()
}

document.getElementById('classifier_select').onchange() // run once to init
</script>



{# model mode select changes #}
<script>
document.getElementById('model_mode_field').onchange = function() {
    selected = this.value
    single_exclusive_tabs = ['classifier', 'pre-processing']
    ensemble_exclusive_tabs = ['classifiers', 'meta-classifier']
    switch (this.value.toLowerCase()) {
        case 'single':
            // enable single-exclusive
            single_exclusive_tabs.forEach(tab => {
                document.getElementById(tab+'-tab-header').setAttribute('class', 'nav-item')
            })
            // disable ensemble-exclusive
            ensemble_exclusive_tabs.forEach(tab => {
                document.getElementById(tab+'-tab-header').setAttribute('class', 'nav-item d-none')
            })
            // disable combination_strategy_field_div
            document.getElementById('combination_strategy_field_div').setAttribute('class', 'ps-4 d-none')
            break;
        case 'ensemble':
            // enable ensemble-exclusive
            ensemble_exclusive_tabs.forEach(tab => {
                document.getElementById(tab+'-tab-header').setAttribute('class', 'nav-item')
            })
            // disable single-exclusive
            single_exclusive_tabs.forEach(tab => {
                document.getElementById(tab+'-tab-header').setAttribute('class', 'nav-item d-none')
            })
            // enable combination_strategy_field_div
            document.getElementById('combination_strategy_field_div').setAttribute('class', 'ps-4')
            break;
    }
}
document.getElementById('model_mode_field').onchange() // run once to init
</script>

{# generate ensemble classifier form based on amt #}
<script>
document.getElementById('ensemble_classifier_count_field').onchange = function() {
    newCount = this.value
    new_html = ''
    for (i = 0; i < newCount; i++) {
        div_id = `ensemble_classifier_${i}`

        new_html += `<div class="accordion-item">\n`
        new_html += `<h2 class="accordion-header" id="header_${div_id}">`
        new_html += `<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#${div_id}" aria-expanded="false" aria-controls="${div_id}">`
        new_html += `Ensemble Classifier ${i+1}`
        new_html += `</button>`
        new_html += `</h2>`
        new_html += `<div id="${div_id}" class="accordion-collapse collapse" area-labelledby="header_${div_id}" data-bs-parent="#ensemble_classifiers_div">`
        new_html += `<div class="accordion-body">`
        new_html += `<p>todo :) ${div_id}</p>` // content
        new_html += `</div></div></div>\n`
    }
    document.getElementById('ensemble_classifiers_div').innerHTML = new_html
}
document.getElementById('ensemble_classifier_count_field').onchange() // run once to init
</script>

{# interactive form hiding/showing of subfields #}
<script>
document.getElementById('project_mode_field').onchange = function() {
    selected = this.value.toLowerCase()
    switch (selected) {
        case 'test-project':
            document.getElementById('test_project_field_div').setAttribute('class', 'ps-4')
            break;
        default:
            document.getElementById('test_project_field_div').setAttribute('class', 'ps-4 d-none')
    }
}
document.getElementById('project_mode_field').onchange()

document.getElementById('use_early_stopping_field').onchange = function() {
    toChange = document.getElementById('early_stopping_div')
    if (this.checked) {
        toChange.setAttribute('class', 'ps-4')
    }
    else {
        toChange.setAttribute('class', 'ps-4 d-none')
    }
}
document.getElementById('use_early_stopping_field').onchange()

function optimizerChange() {
    elementToChange = document.getElementById('hparam_optimizer_sgd_container')
    selected = document.getElementById('hparam_optimizer').value.toLowerCase()
    switch(selected) {
        case 'sgd':
            elementToChange.setAttribute('class', 'ps-4')
            break;
        default:
            elementToChange.setAttribute('class', 'ps-4 d-none')
            break;
    }
}
</script>
{% endblock %}