{% extends 'base.html' %}

{% block subtitle %}{{action.title()}} Model{% endblock %}

{% macro render_tab_header(name, title, active=false, visible=true) %}
    {% if visible %}
    <li class="nav-item" role="presentation" id="{{name}}-tab-header">
    {% else %}
    <li class="nav-item d-none" role="presentation" id="{{name}}-tab-header">
    {% endif %}
        {% if active %}
        <button class="nav-link active" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}" type="button" role="tab" aria-controls="{{name}}" aria-selected="true">{{title}}</button>
        {% else %}
        <button class="nav-link" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}" type="button" role="tab" aria-controls="{{name}}" aria-selected="false">{{title}}</button>
        {% endif %}
    </li>
{% endmacro %}


{% macro render_tab(name, active=false) %}
    {% set show_active = "show active" %}
    {% if not active %}
    {% set show_active = '' %}
    {% endif %}
    <div class="tab-pane fade {{show_active}}" id="{{name}}" role="tabpanel" aria-labelledby="{{name}}-tab"></div>
{% endmacro %}


{% block margin_content %}
<form method="POST" id="modelconfig" action="/models/{{action}}">
    {{ form.csrf_token }}

    <ul class="nav nav-tabs my-2" id="paramCats" role="tablist">
        {{ render_tab_header('general', 'General', true) }}

        {{ render_tab_header('pre-processing', 'Pre-Processing') }}
        {{ render_tab_header('classifier', 'Classifier') }}

        {{ render_tab_header('classifiers', 'Ensemble Classifiers') }}
        {{ render_tab_header('meta-classifier', 'Ensemble Meta Classifier', visible=false) }}
        
        {{ render_tab_header('training', 'Training') }}
    </ul>

    <div class="tab-content" id="paramCatsContent">
        {{ render_tab('general', true) }}
        {{ render_tab('pre-processing') }}
        {{ render_tab('classifier') }}
        {{ render_tab('classifiers') }}
        {{ render_tab('meta-classifier') }}
        {{ render_tab('training') }}
    </div>

    <hr/>
    <input type="submit" value="Save Configuration" class="my-2">

</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='editable_form.js')}}"></script>
<script>
function onDocReady() {
    // todo
    tabs = ["general", "training", "classifier", "pre-processing", "classifiers", "meta-classifier"]
    data = {{field_configs|tojson|safe}}
    tabs.forEach(tab => {
        document.getElementById(tab).innerHTML = generate_tab(tab, data)
    })
}
onDocReady()
</script>

<script>
// these are linked up through the field_configs.json
function modelModeChanged() {
    console.log("model mode changed, is now: " + document.getElementById("gen_model_mode").value)
}
function useEarlyStoppingChanged() {
    console.log("use early stopping changed, is now: " + document.getElementById("train_use_early_stopping").checked)
}
</script>

{% endblock %}