{% extends 'base.html' %}

{% macro render_tab_header(name, title, active=false, visible=true) %}
    {% if visible %}
    <li class="nav-item" role="presentation" id="{{name}}-tab-header">
    {% else %}
    <li class="nav-item d-none" role="presentation" id="{{name}}-tab-header">
    {% endif %}
        {% if active %}
        <button class="nav-link active" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}" type="button" role="tab" aria-controls="{{name}}" aria-selected="true">{{title}}</button>
        {% else %}
        <button class="nav-link" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}" type="button" role="tab" aria-controls="{{name}}" aria-selected="false">{{title}}</button>
        {% endif %}
    </li>
{% endmacro %}


{% macro render_tab(name, active=false) %}
    {% set show_active = "show active" %}
    {% if not active %}
    {% set show_active = '' %}
    {% endif %}
    <div class="tab-pane fade {{show_active}}" id="{{name}}" role="tabpanel" aria-labelledby="{{name}}-tab"></div>
{% endmacro %}


{% block margin_content %}
{% block formheader %}
<form method="POST" id="" action="">
{% endblock formheader %}
    <ul class="nav nav-tabs my-2" id="paramCats" role="tablist">
        {{ render_tab_header('general', 'General', true) }}

        {{ render_tab_header('pre-processing', 'Pre-Processing') }}
        {{ render_tab_header('classifier', 'Classifier') }}

        {{ render_tab_header('classifiers', 'Ensemble Classifiers') }}
        {{ render_tab_header('meta-classifier', 'Ensemble Meta Classifier') }}
        
        {{ render_tab_header('training', 'Training') }}
    </ul>

    <div class="tab-content" id="paramCatsContent">
        {{ render_tab('general', true) }}
        {{ render_tab('pre-processing') }}
        {{ render_tab('classifier') }}
        {{ render_tab('classifiers') }}
        {{ render_tab('meta-classifier') }}
        {{ render_tab('training') }}
    </div>

    <hr/>
    <input type="submit" value="Save Configuration" class="my-2">

</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{{url_for('static', filename='model_form.js')}}"></script>
<script>
const data = {{field_configs|tojson|safe}}
const defaults = {{defaults|tojson|safe}}
function onDocReady() {
    tabs = ["general", "training", "classifier", "pre-processing", "classifiers", "meta-classifier"]
    tabs.forEach(tab => {
        document.getElementById(tab).innerHTML = generate_tab(tab, data, defaults)
    })
}
onDocReady()

function getSize(prefix) {
    size = "large"
    if (prefix == "single_hp") size = "small";
    if (prefix == "stacker_hp") size = "small";
    return size
}
</script>

<script>
// these are linked up through the field_configs.json
function modelModeChanged() {
    newVal = document.getElementById("gen_model_mode").value

    combi_strat_el = document.getElementById("gen_combination_strategy_div")

    single_exclusive_tabs = ['classifier', 'pre-processing']
    ensemble_exclusive_tabs = ['classifiers', 'meta-classifier']
    switch(newVal) {
        case "Ensemble":
            // disable single-exclusive
            single_exclusive_tabs.forEach(tab => {
                document.getElementById(`${tab}-tab-header`).setAttribute('class', 'nav-item d-none')
            })

            // enable ensemble-exclusive
            ensemble_exclusive_tabs.forEach(tab => {
                document.getElementById(`${tab}-tab-header`).setAttribute('class', 'nav-item')
            })
            // enable combi strat field
            combi_strat_el.setAttribute('class', '')

            switch(document.getElementById("gen_combination_strategy").value) {
                case 'stacking':
                    document.getElementById(`meta-classifier-tab-header`).setAttribute('class', 'nav-item')
                    break;
                default:
                    document.getElementById(`meta-classifier-tab-header`).setAttribute('class', 'nav-item d-none')
            }
            break;
        case "Single":
            // disable ensemble-exclusive
            ensemble_exclusive_tabs.forEach(tab => {
                document.getElementById(`${tab}-tab-header`).setAttribute('class', 'nav-item d-none')
            })

            // enable single-exclusive
            single_exclusive_tabs.forEach(tab => {
                document.getElementById(`${tab}-tab-header`).setAttribute('class', 'nav-item')
            })

            // disable combi strat field
            combi_strat_el.setAttribute('class', 'd-none')
            break;
    }
}
modelModeChanged()

function combiStratChanged(combi_strat_el) {
    switch(combi_strat_el[0].value) {
        case 'stacking':
            document.getElementById(`meta-classifier-tab-header`).setAttribute('class', 'nav-item')
            break;
        default:
            document.getElementById(`meta-classifier-tab-header`).setAttribute('class', 'nav-item d-none')
    }
}
combiStratChanged([document.getElementById("gen_combination_strategy_div")])

function useEarlyStoppingChanged() {
    el = document.getElementById("train_early_stopping_div")
    if (document.getElementById("train_use_early_stopping").checked) {
        el.setAttribute('class', '')
    } else {
        el.setAttribute('class', 'd-none')
    }
}
useEarlyStoppingChanged();

function nrHiddenLayersChanged(nr_element) {
    // get prefix
    prefix = nr_element[0].id.split('_')
    prefix.pop() // layers
    prefix.pop() // hidden
    prefix.pop() // of
    prefix.pop() // number
    prefix = prefix.join('_')

    // get amount
    amt = nr_element[0].value
    
    // get div
    div_id = prefix + "_hidden_layers_div"
    div_el = document.getElementById(div_id)

    // generate
    div_el.innerHTML = generate_count_fields(amt, 'hparam_hidden_layer_size', prefix+'_', getSize(prefix), defaults)
}
_all_hidden_layers = $("input[id$='_number_of_hidden_layers']")
for (let i = 0; i < _all_hidden_layers.length; i++) {
    nrHiddenLayersChanged([_all_hidden_layers[i]])
}

function optimizerChanged(optimizer_element) {
    // get prefix
    prefix = optimizer_element[0].id.split('_')
    prefix.pop()
    prefix = prefix.join('_')

    // get div
    div_id = prefix + "_optimizer_sgdvalue_div"
    div_el = document.getElementById(div_id)

    // set
    switch (optimizer_element[0].value) {
        case "adam":
            div_el.setAttribute('class', 'd-none')
            break;
        case "sgd":
            div_el.setAttribute('class', '')
            break;
    }
}
_all_optimizers = $("select[id$='_optimizer']")
for (let i = 0; i < _all_optimizers.length; i++) {
    optimizerChanged([_all_optimizers[i]])
}

function nrOfConvChanged(nr_element) {
    // get prefix
    prefix = nr_element[0].id.split('_')
    prefix.pop() // convolutions
    prefix.pop() // of
    prefix.pop() // number
    prefix = prefix.join('_')

    // get amt
    amt = nr_element[0].value

    // get div
    div_id = prefix + "_convolutions_div"
    div_el = document.getElementById(div_id)

    // generate
    div_el.innerHTML = generate_count_fields(amt, 'hparam_kernel_size', prefix+'_', getSize(prefix), defaults)
}
_all_convolutions = $("input[id$='_number_of_convolutions']")
for (let i = 0; i < _all_convolutions.length; i++) {
    nrOfConvChanged([_all_convolutions[i]])
}

function inmodeChanged(inmode_element) {
    // get prefix
    prefix = inmode_element[0].id.split('_')
    prefix.pop()
    prefix = prefix.join('_')

    // get input mode
    inmode_selected = inmode_element[0].value

    // get div with the params
    div_id = prefix + "_params_div"
    div_element = document.getElementById(div_id)

    // size
    size = "large"
    if (prefix == "single") size = "small";
    // stacker input mode is currently not supported
    // if (prefix == "stacker") size = "small";

    div_element.innerHTML = get_params_for(inmode_selected, prefix+'_', size, defaults)
}
_all_inmodes = $("select[id$='_inmode']")
for (let i = 0; i < _all_inmodes.length; i++) {
    inmodeChanged([_all_inmodes[i]])
}

function classifierChanged(classifier_element) {
    // get prefix
    prefix = classifier_element[0].id.split('_')
    prefix.pop()
    prefix = prefix.join('_')

    // get classifier
    class_selected = classifier_element[0].value

    // get div with the hparams
    div_id = prefix + "_hparams_div"
    div_element = document.getElementById(div_id)

    // size
    size = "large"
    if (prefix == "single") size = "small";
    if (prefix == "stacker") size = "small";

    div_element.innerHTML = get_hparams_for(class_selected, prefix+'_', size, defaults)
    
    // change relevant input mode
    // get input mode select element
    div_element = document.getElementById(prefix+"_inmode")
    // can be null for stacker
    if (div_element) {
        // change it
        inmode_per_class = {{inmode_per_classifier|tojson|safe}}
        div_element.innerHTML = generate_select_options('prepro_inmode', inmode_per_class[class_selected], defaults)
        // force changes
        inmodeChanged([div_element])
    }
}
_all_classifiers = $("select[id$='_classifier']")
for (let i = 0; i < _all_classifiers.length; i++) {
    classifierChanged([_all_classifiers[i]])
}

function ensClassCountChanged(count_element) {
    // amt
    amt = count_element[0].value

    // div
    div_el = document.getElementById("ens_classifiers")
    
    // generate
    div_el.innerHTML = generate_ens_classifiers(amt, defaults)

    // propagate changes to classifiers 
    // (which will propagate to input modes)
    ens_classifiers = $("[id^='ens_'][id$='_classifier']")
    for (let i = 0; i < ens_classifiers.length; i++) {
        classifierChanged([ens_classifiers[i]])
    }
}
ensClassCountChanged([document.getElementById("ens_classifier_count")])
</script>

{% endblock %}