{% extends 'base.html' %}

{% block subtitle%}Hyper Parameter Help{% endblock %}

{% block margin_content %}
<div>
    <h1>Hyper Parameter Help</h1>
    <p>These are all hyper parameters available for each available classifier.</p>
    <p>Note that when creating a model, you need to specify the hyper parameters in a "name=value" format, multiple parameters separated by spaces.</p>
</div>
{% for classifier in options %}
<div>
    <h3>Hyper Parameters Available For {{classifier}}</h3>
    <ul>
        {% for option in options[classifier] %}
        <li>{{option}}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}