{% extends 'base.html' %}

{% block subtitle%}Parameter Help{% endblock %}

{% block margin_content %}
<div>
    <h1>Parameter Help</h1>
    <p>These are all parameters available for each available input mode.</p>
    <p>Note that when creating a model, you need to specify the parameters in a "name=value" format, multiple parameters separated by spaces.</p>
</div>
{% for inmode in inmodes %}
<div>
    <h3>Parameters Available For {{inmode}}</h3>
    <ul>
        {% for param in inmodes[inmode] %}
        <li>{{param}}</li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock %}