{% extends 'base.html' %}

{% block subtitle %}View ML Model {{ name }}{% endblock %}

{% block margin_content %}
<h3>Viewing ML Model: {{name}}</h3>

<div class="d-flex flex-row-reverse">
    <button class="btn btn-danger m-2" onclick="deleteModel()">Delete Model</button>
    <button onclick="trainModel()" class="btn btn-primary m-2">(Re)train Model</button>
    <button class="btn btn-primary m-2" onclick="editModel()">Edit Model Configuration</button>
</div>

<div>
    <p class="my-2">Last trained: {{ last_trained }}</p>
    {% if version_count > 0 %}
    <p class="my-2">Performance (version {{version_count}}):</p>
    <h4>Macro:</h4>
    <table class="table table-light">
        <thead>
            <th></th>
            <th>F1 Score</th>
            <th>Precision</th>
            <th>Recall</th>
        </thead>
        <tbody>
            <tr>
                <td>Training</td>
                <td>{{macro['training']['f1']}}</td>
                <td>{{macro['training']['precision']}}</td>
                <td>{{macro['training']['recall']}}</td>
            </tr>
            <tr>
                <td>Testing</td>
                <td>{{macro['testing']['f1']}}</td>
                <td>{{macro['testing']['precision']}}</td>
                <td>{{macro['testing']['recall']}}</td>
            </tr>
            <tr>
                <td>Validation</td>
                <td>{{macro['validation']['f1']}}</td>
                <td>{{macro['validation']['precision']}}</td>
                <td>{{macro['validation']['recall']}}</td>
            </tr>
        </tbody>
    </table>
    
    <h4>Classes:</h4>
    {% for cname in classes %}
    <h5>{{cname.title()}}</h5>
    <table class="table table-light">
        <thead>
            <th></th>
            <th>F1 Score</th>
            <th>Precision</th>
            <th>Recall</th>
        </thead>
        <tbody>
            <tr>
                <td>Training</td>
                <td>{{class_prec[cname]['training']['f1']}}</td>
                <td>{{class_prec[cname]['training']['precision']}}</td>
                <td>{{class_prec[cname]['training']['recall']}}</td>
            </tr>
            <tr>
                <td>Testing</td>
                <td>{{class_prec[cname]['testing']['f1']}}</td>
                <td>{{class_prec[cname]['testing']['precision']}}</td>
                <td>{{class_prec[cname]['testing']['recall']}}</td>
            </tr>
            <tr>
                <td>Validation</td>
                <td>{{class_prec[cname]['validation']['f1']}}</td>
                <td>{{class_prec[cname]['validation']['precision']}}</td>
                <td>{{class_prec[cname]['validation']['recall']}}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}


    {% endif %}
</div>

<div class="card m-2">
    <div class="card-body">
        <h3>Configuration</h3>
        {% for key in model %}
        {% if key == 'ensemble classifiers' %}
        <div class="card m-2">
            <div class="card-body">
                <h3>{{key.title()}}</h3>
                {% for e_model in model[key] %}
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Pre-Processing</h4>
                        <div>Input Mode: {{e_model['input-mode']}}</div>
                        <div>Input Mode Parameters:</div>
                        <ul>
                            {% if e_model['params'] %}
                            {% for param in e_model['params'] %} {% if param not in ['embedding-id', 'dictionary-id'] %}
                            <li>{{param}}: {{e_model['params'][param]}}</li>
                            {% else %}
                            <li>{{param}}: <a href="{{ url_for('embeddings.view', embedding=e_model['params'][param]) }}">{{e_model['params'][param]}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>Classifier</h4>
                        <div>Classifier: {{e_model['classifier']}}</div>
                        <div>Classifier Hyper-Parameters:</div>
                        <ul>
                            {% if e_model['hyper-params'] %}
                            {% for hparam in e_model['hyper-params'] %}
                            <li>{{hparam}}: {{e_model['hyper-params'][hparam]}}</li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <hr />
                {% endfor %}
            </div>
        </div>
        {% elif key == 'meta classifier' %}
        <div class="card m-2">
            <div class="card-body">
                <h3>{{key.title()}}</h3>
                <div>Classifier: {{model[key]['classifier']}}</div>
                <div>Use Concatenation: {{model[key]['use-concat']}}</div>
                <div>No Matrix: {{model[key]['no-matrix']}}</div>
                <div>Hyper-Parameters:</div>
                {% for hp_class in model[key]['hyper-params'] %}
                <ul>
                    {% for hparam in model[key]['hyper-params'][hp_class] %}
                    <li>{{hparam}}: {{model[key]['hyper-params'][hp_class][hparam]}}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
        {% elif key == 'classifier' %}
        <div class="card m-2">
            <div class="card-body">
                <h3>{{key.title()}}</h3>
                <div>Classifier: {{model[key]['classifier']}}</div>
                <div>Hyper-Parameters:</div>
                <ul>
                    {% for hparam in model[key]['hyper-params'] %}
                    <li>{{hparam}}: {{model[key]['hyper-params'][hparam]}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% elif key == 'pre-processing' %}
        <div class="card m-2">
            <div class="card-body">
                <h3>{{key.title()}}</h3>
                <div>Input Mode: {{model[key]['input-mode']}}</div>
                <div>Input Mode Parameters:</div>
                <ul>
                    {% for param in model[key]['params'] %} {% if not param in ['embedding-id', 'dictionary-id'] %}
                    <li>{{param}}: {{model[key]['params'][param]}}</li>
                    {% else %}
                    <li>{{param}}: <a href="{{ url_for('embeddings.view', embedding=model[key]['params'][param]) }}">{{model[key]['params'][param]}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <div class="card m-2">
            <div class="card-body">
                <h3>{{key.title()}}</h3>
                <ul>
                    {% for option in model[key] %}
                    {% if option == 'ontology classes' %}
                    <li>{{option}}: <a href="{{url_for('ontologies.view', ontology=model[key][option])}}">{{model[key][option]}}</a></li>
                    {% else %}
                    <li>{{option}}: {{model[key][option]}}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function alertPopup(e) {
    str = `Something went wrong while processing your request. Code returned was: ${e.status}.`
    
    e.json().then(data => {
        str += "\n\nResponse body:\n"
        str += JSON.stringify(data)
        alert(str)
    })
    .catch(err => {
        alert(str)
    })
}

function trainModel() {
    console.log('starting train')
    fetch('/login/isloggedin')
    .then(e => {
        e.json()
        .then(data => {
            if (!data['is logged in']) {
                alert('You are not logged in! Without logging in, you cannot train a model.')
            }
            else {
                fetch(`{{ url_for('models.train', model=id) }}`, {
                    method: "POST"
                })
                .then(e => {
                    if (e.status != 200) {
                        alertPopup(e)
                    }
                    else {
                        location.reload()
                    }
                })
            }
        })
    })
}

function deleteModel() {
    fetch('/login/isloggedin')
    .then(e => {
        e.json()
        .then(data => {
            if (!data['is logged in']) {
                alert('You are not logged in! Without logging in, you cannot delete model configuraton data.')
            }
            else {
                url = `{{ url_for('models.delete', model=id) }}`
                fetch(url, {method: "DELETE"})
                .then(e => {
                    if (e.status != 200) {
                        alertPopup(e)
                    }
                    else {
                        location.replace("{{url_for('models.viewall')}}")
                    }
                })
            }
        })
    })
}

function editModel() {
    fetch('/login/isloggedin')
    .then(e => {
        e.json()
        .then(data => {
            if (!data['is logged in']) {
                alert('You are not logged in! Without logging in, you cannot save edited model configuration data.')
            }
            else {
                location.replace("{{url_for('models.editform', model=id)}}")
            }
        })
    })
}
</script>
{% endblock %}