{% extends 'base.html' %}

{% block subtitle %}View Model {{ name }}{% endblock %}

{% block margin_content %}
<h3>Viewing Model: {{name}}</h3>
<div class="card m-2">
    <div class="card-body">
        <h4>Configuration:</h4>
        <ul>
        {% for p in params %}
            {% if 'params' in p: %}
                <li>{{p}}:
                    <ul>
                    {% for name in params[p] %}
                        <li>{{name}}: {{params[p][name]}}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>{{p}}: {{params[p]}}</li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

<div>
    <p class="my-2">Last trained: {{ last_trained }}</p>
    <form method="POST" id="trainmodel" action="{{ url_for('models.trainModel', model=name) }}">
        <input type="submit" value="(Re)train Model" class="my-2">
    </form>
</div>
{% endblock %}