{% extends 'base.html' %}

{% block subtitle %}Classify Queries{% endblock %}

{% block margin_content %}
<form action="{{ url_for('classify.viewform') }}", method="GET">
    <input type="submit" value="Create New Query" class="btn btn-primary my-2"/>
</form>
<div class="card my-2">
    <div class="card-body">
        <h4>Available Issue Queries</h4>
        <ul>
            {% for q in queries %}
            <li><a href="{{ url_for('classify.view', query=q, page=1)}}">{{ q }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
{% if failed_models %}
    {% for model in failed_models %}
    alert(`Error: failed to create query with model {{model}} because no model versions were found. Model has been left out of query.`)
    {% endfor %}
{% endif %}
</script>
{% endblock%}