{% extends 'base.html' %}

{% block subtitle %}View Query{% endblock %}

{% block headerExtra %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
{% endblock %}

{% block margin_content %}
<div class="modal fade" id="classify_modal" tabindex="-1" aria-labelledby="classify_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="classify_label">Classify Issue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <p><b id="classify_modal_summary"></b></p>
                <p id="classify_modal_description"></p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>Set Issue Manual Label</h4>
                        <div class="form-group">
                            <input name="nonarch" id="nonarch" type="checkbox" checked="checked" onchange="classificationChanged()">
                            <label for="nonarch" class="col-form-label">Non-Architectural</label>
                        </div>

                        <div class="form-group">
                            <input name="existence" id="existence" type="checkbox" disabled="disabled" onchange="classificationChanged()">
                            <label for="existence" class="col-form-label">Existence</label>
                        </div>
    
                        <div class="form-group">
                            <input name="executive" id="executive" type="checkbox" disabled="disabled" onchange="classificationChanged()">
                            <label for="executive" class="col-form-label">Executive</label>
                        </div>
    
                        <div class="form-group">
                            <input name="property" id="property" type="checkbox" disabled="disabled" onchange="classificationChanged()">
                            <label for="property" class="col-form-label">Property</label>
                        </div>
    
                        <button type="button" class="btn btn-primary" id="classify_issue_btn">Set Manual Label</button>
    
                        <hr />
                        
                        <button type="button" class="btn btn-primary" id="mark_issue_btn">TEMP</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4>Comments</h4>
                        <div id="classify_comments"></div>
                        <textarea id="classify_newcomment" oninput="resizeCommentbox($(this))" style="min-width: 100%;min-height:50px;overflow-y:hidden"></textarea>
                        <div class="w-100 d-none d-md-block my-2"></div>
                        <button type="button" class="btn btn-primary" id="classify_addcomment">Add New Comment</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        Amount of items on a page:
        <input type="number" id="page_size_input" min="1" value="{{pageLimit}}"/>
        <button type="button" class="btn btn-secondary" onclick="changePageSize()">Go</button>
    </div>

    <br />

    <nav aria-label="Pagination Navigation">
        <ul class="pagination" id="pagination_ul"></ul>
    </nav>

    <br />

    <div>
        <a href="/classify/view/{{query}}/{{thisPage}}?page_limit={{pageLimit}}" class="btn btn-primary">Clear Sort</a>
    </div>
</div>

<table id="data" class="table table-striped">
    <thead>
        <th>Key</th>
        <th>Classify</th>
        <th>Manual Label</th>
        <th>Summary/Desc</th>
        <th>Tags</th>
        {% for m_id in headers %}{% for h in headers[m_id] %}
        <th><button class="btn bi {{'bi-diamond' if (sort != 'predictions.'+m_id+'.'+h+'.confidence') else ('bi-caret-up-fill' if sort_asc else 'bi-caret-down-fill')}}" onclick="sortModel('predictions.{{m_id}}.{{h}}.confidence')"></button>{{id_to_name[m_id]}}: {{h.title()}}</th>
        <th>{{id_to_name[m_id]}}: {{h.title()}}</th>
        {% endfor %}{% endfor %}
    </thead>
    <tbody>
    {% for issue in issue_data %}
    <tr>
        <td><a href="{{issue['issue_link']}}" target="_blank" id="{{issue['issue_id']}}_key">{{issue['issue_key']}}</a></td>
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#classify_modal" onclick="classifyModal(`{{issue['issue_id']}}`)">Classify</button></td>
        <td id="{{issue['issue_id']}}_manual_label">{{manual[issue['issue_id']] if issue['issue_id'] in manual else ''}}</td>
        <td><a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" title="{{issue['summary']}}" data-bs-content="{{issue['description']}}" data-bs-trigger="focus">Read Issue</a></td>
        <td>
            <table class="table table-light" id="{{issue['issue_id']}}_tags">
                <tbody>
                    
            {% for tag in issue['tags'] %}{% if tag in man_tags %}
            <tr>
                <td><button type="button" class="btn text-start m-0 p-0" data-bs-toggle="tooltip" title="{{man_tags[tag]}}">{{tag}}</button></td>
                <td><button class="btn btn-danger" onclick="removeTag('{{tag}}', `{{issue['issue_id']}}`)">Remove</button></td>
            </tr>
            {% endif %}{% endfor %}
                </tbody>
            </table>
        </td>
        {% for m_id in headers %}{% for h in headers[m_id] %}
        <td>{{issue['predictions'][m_id][h]['confidence'] if m_id in issue['predictions'] else ''}}</td>
        <td>{{issue['predictions'][m_id][h]['prediction'] if m_id in issue['predictions'] else ''}}</td>
        {% endfor %}{% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.13.1/sorting/numString.js"></script>
<script>
function getPageLink(i, pageLimit, title, disabled=false) {
    if (i != null) {
        link = `/classify/view/{{query}}/${i}?page_limit=${pageLimit}`
        sort = '{{sort if sort else null}}'
        sort_asc = '{{sort_asc if sort_asc else null}}'
        if (sort !== '') link += `&sort=${sort}`
        if (sort_asc !== '') link += `&sort_asc=${sort}`

        return `<li class="page-item ${(i == {{thisPage}})? 'active' : (disabled? 'disabled' : '')}"><a class="page-link" href="${link}">${title}</a></li>`
    }
    else {
        return `<li class="page-item disabled"><a class="page-link" href="#">...</a></li>`
    }
}
function max(a, b) {
    return a > b ? a : b
}
function min(a, b) {
    return a > b ? b : a
}
$(document).ready(function() {
    // popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })

    // pagination
    pag_el = document.getElementById('pagination_ul')
    total = {{totalPages}};
    thisPage = {{thisPage}};
    pageLimit = {{pageLimit}};
    new_html = ""
    if (total <= 10) {
        // just display all
        new_html += getPageLink(thisPage-1, pageLimit, 'Previous', thisPage == 1)
        for (i = 0; i < total; i++) {
            new_html += getPageLink(i+1, pageLimit, i+1)
        }
        new_html += getPageLink(thisPage+1, pageLimit, 'Next', thisPage == total)
    }
    else {
        // max: 5 or so
        min_i = max(1, thisPage-2)
        new_html += getPageLink(1, pageLimit, 'First', min_i <= 1)

        
        new_html += getPageLink(thisPage-1, pageLimit, 'Previous', thisPage == 1)
        
        max_i = min(thisPage+2, total)
        
        if (min_i <= 2) max_i = min_i + 4
        if (max_i >= (total - 1)) min_i = max_i - 4

        for (i = min_i; i <= max_i; i++) {
            new_html += getPageLink(i, pageLimit, i)
        }
        
        new_html += getPageLink(thisPage+1, pageLimit, 'Next', thisPage == total)

        new_html += getPageLink(total, pageLimit, 'Last', max >= (total-1))
    }
    
    pag_el.innerHTML = new_html
})

function sortModel(model_version_id) {
    sort = '{{sort if sort else null}}'
    sort_asc = '{{sort_asc}}'
    sort_asc = sort_asc.toLowerCase()

    if (sort === model_version_id) {
        // reverse sort_asc
        if (sort_asc === 'true') sort_asc = 'false'
        else sort_asc = 'true'
    }
    
    location.replace(`/classify/view/{{query}}/{{thisPage}}?page_limit={{pageLimit}}&sort=${model_version_id}&sort_asc=${sort_asc}`)
}

function changePageSize() {
    sort = '{{sort if sort else null}}'
    sort_asc = '{{sort_asc}}'
    new_size = document.getElementById('page_size_input').value
    url = `/classify/view/{{query}}/1?page_limit=${new_size}`
    if (sort !== '') url += `&sort=${sort}`
    url += '&sort_asc=' + sort_asc.toLowerCase()
    location.replace(url)
}
    
function setCommentsFor(issue) {
    comments_div = document.getElementById('classify_comments')
    result = ""
    thisuser = `{{thisuser}}`
    fetch(`/manual/comments/${issue}`)
        .then(response => {
            response.json().then(data =>{
                Object.keys(data).forEach(comment_id => {
                    comment_obj = data[comment_id]
                    author = comment_obj.author
                    text = comment_obj.comment.replaceAll('\n', '<br />')

                    new_html = `<p><b>${author}</b>:</p><p id="comment_${comment_id}_text">${text}</p>`
                    if (thisuser === author) {
                        new_html += "<div class='row my-2'>"
                        new_html += `<button type="button" class="btn btn-danger col-sm mx-2" onclick="deleteComment('${comment_id}')">Delete</button>`
                        new_html += `<button type="button" class="btn btn-secondary col-sm mx-2" onclick="editComment('${comment_id}')">Edit</button>`
                        new_html += "</div>"
                    }
                    new_html = `<div id='comment_${comment_id}'>${new_html}</div><hr />`

                    result += new_html
                });

                comments_div.innerHTML = result
            }).catch(e => {
                console.log(e)
            })
        })
}

function deleteComment(comment_id) {
    fetch(`/manual/comments/${current_modal_issue_id}/${comment_id}`, {
        method: "DELETE"
    })
    .then(e => {
        if (e.status != 200) {
            alertDbError(e)
        } 
        else {
            setCommentsFor(current_modal_issue_id)
        }
    })
}
function editComment(comment_id) {
    // start editing
    comment_text = document.getElementById(`comment_${comment_id}_text`).innerHTML
    div_element = document.getElementById(`comment_${comment_id}`)
    new_html = ""
    // ...
    new_html += `<textarea id="edit_comment_${comment_id}" oninput="resizeCommentbox($(this))" style="min-width: 100%;min-height:50px;overflow-y:hidden">${comment_text}</textarea>`
    new_html += `<div class="row my-2">`
    new_html += `<button class="btn btn-primary col-sm mx-2" onclick="saveCommentEdit('${comment_id}')">Save</button>`
    new_html += `<button class="btn btn-secondary col-sm mx-2" onclick="cancelCommentEdit()">Cancel</button>`
    new_html += `</div>`
    div_element.innerHTML = new_html
}
function saveCommentEdit(comment_id) {
    new_text = document.getElementById(`edit_comment_${comment_id}`).value.trim()

    fetch(`/manual/comments/${current_modal_issue_id}/${comment_id}`, {method: "PATCH", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
        comment: new_text
    })})
        .then(e => {
            if (e.status == 200) {
                setCommentsFor(current_modal_issue_id)
            }
            else {
                alertDbError(e)
            }
        })
}
function cancelCommentEdit() {
    setCommentsFor(current_modal_issue_id)
}

function classificationChanged() {
    nonarch_checked = document.getElementById('nonarch').checked

    existence = document.getElementById('existence')
    property = document.getElementById('property')
    executive = document.getElementById('executive')
    if (nonarch_checked) {
        // disable the others
        existence.setAttribute('disabled','disabled')
        executive.setAttribute('disabled','disabled')
        property.setAttribute('disabled','disabled')

        existence.checked = false
        executive.checked = false
        property.checked = false
    }
    else {
        // enable the others
        existence.removeAttribute('disabled')
        executive.removeAttribute('disabled')
        property.removeAttribute('disabled')
    }
}

current_modal_issue_id = null

function classifyModal(id) {
    current_modal_issue_id = id
    header = document.getElementById('classify_label')
    key = document.getElementById(`${id}_key`).innerHTML
    header.innerHTML = `Classify Issue ${key}`

    classify_btn = document.getElementById('classify_issue_btn')
    classify_btn.setAttribute('onclick', `classifyIssue("${id}")`)

    formmarkbutton = document.getElementById('mark_issue_btn')

    newcomment_btn = document.getElementById('classify_addcomment')
    newcomment_btn.setAttribute('onclick', `addComment("${id}")`)

    summary = document.getElementById('classify_modal_summary')
    issue_data = {{issue_text|tojson|safe}}
    summary.innerHTML = issue_data[id]['summary']
    description = document.getElementById('classify_modal_description')
    description.innerHTML = issue_data[id]['description']
    
    setCommentsFor(id)

    curr_label = document.getElementById(`${id}_manual_label`).innerHTML

    inreviewstr = ' (In Review)'

    // set button availability
    if (curr_label === "") {
        // not in current dataset
        // should not allow to mark for review/whatever else
        formmarkbutton.setAttribute('onclick', ``)
        formmarkbutton.disabled = true
        formmarkbutton.innerHTML = "Disabled"
    } else if (curr_label.endsWith(inreviewstr)) {
        // in review
        formmarkbutton.setAttribute('onclick', `markTraining("${id}")`)
        formmarkbutton.disabled = false
        formmarkbutton.innerHTML = 'Mark for training'
    } else {
        // in training
        formmarkbutton.setAttribute('onclick', `markReview("${id}")`)
        formmarkbutton.disabled = false
        formmarkbutton.innerHTML = 'Mark for review'
    }

    // set checkbox defaults
    label_str = curr_label
    if (label_str.endsWith(inreviewstr)) {
        label_str = label_str.slice(0, label_str.length - inreviewstr.length)
    }
    labels = label_str.split(', ')
    nonarch = document.getElementById('nonarch')
    nonarch.checked = (labels.length == 0 || labels[0] == 'Non-Arch.')
    classificationChanged()
    
    existence = document.getElementById('existence')
    property = document.getElementById('property')
    executive = document.getElementById('executive')
    existence.checked = false
    property.checked = false
    executive.checked = false
    labels.forEach(label => {
        if (label && label !== "Non-Arch.") {
            document.getElementById(label.toLowerCase()).checked = true
        }
    })

    // clear previous comment
    commentBox = document.getElementById("classify_newcomment")
    commentBox.value = ""
    resizeCommentbox([commentBox])
}

function classifyIssue(issue) {
    // get data
    existence = document.getElementById('existence').checked
    executive = document.getElementById('executive').checked
    property = document.getElementById('property').checked

    // submit data
    fetch(`/manual/classify/${issue}`, {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
        existence: existence,
        executive: executive,
        property: property
    })})
    .then(e => {
        if (e.status == 200) {
            // update labels in the table
            inreviewstr = ' (In Review)'
            curr_label = document.getElementById(`${issue}_manual_label`)
            newlabel = "Non-Arch."
            if (existence || executive || property) {
                newlabel = []
                if (existence) newlabel.push("Existence")
                if (executive) newlabel.push("Executive")
                if (property) newlabel.push("Property")
                newlabel = newlabel.join(", ")
            }
            
            if (curr_label.innerHTML === "") {
                // just got classified to training
                curr_label.innerHTML = newlabel
            } else if (curr_label.innerHTML.endsWith(inreviewstr)) {
                // in review - keep inreviewstr
                curr_label.innerHTML = newlabel + inreviewstr
            } else {
                // in training, no inreviewstr
                curr_label.innerHTML = newlabel
            }

            // update modal
            classifyModal(issue)
        }
        else {
            alertDbError(e)
        }
    })
}

function markReview(issue) {
    // don't need data
    // submit request
    fetch(`/manual/review/${issue}`, {method: "POST"})
        .then(e => {
            if (e.status != 200) {
                alertDbError(e)
            }
            else {
                // update label in the table
                curr_label = document.getElementById(`${issue}_manual_label`)
                
                inreviewstr = ' (In Review)'
                if (curr_label.innerHTML === "") {
                    // was not in any dataset yet, no data either
                    // (shouldn't happen)
                    console.log("Logic Error")
                    curr_label.innerHTML = "Non-Arch." + inreviewstr
                } else if (curr_label.innerHTML.endsWith(inreviewstr)) {
                    // is in review
                    // do nothing
                    // (shouldn't happen)
                    console.log("Logic Error")
                } else {
                    // was in training, no modifications
                    curr_label.innerHTML += inreviewstr
                }

                // update modal
                classifyModal(issue)
            }
        })
}

function markTraining(issue) {
    // don't need data
    // submit request
    fetch(`/manual/training/${issue}`, {method: "POST"})
        .then(e => {
            if (e.status != 200) {
                alertDbError(e)
            } 
            else {
                // update label in the table
                curr_label = document.getElementById(`${issue}_manual_label`)
                
                inreviewstr = ' (In Review)'
                if (curr_label.innerHTML === "") {
                    // was not in any dataset, mark this as nonarch
                    curr_label.innerHTML = "Non-Arch."
                    // (shouldn't happen)
                    console.log("Logic Error")
                } else if (curr_label.innerHTML.endsWith(inreviewstr)) {
                    // was in review
                    curr_label.innerHTML = curr_label.innerHTML.slice(0,  curr_label.innerHTML.length - inreviewstr.length) // remove in review label
                } else {
                    // is in training, no modifications
                }

                // update modal
                classifyModal(issue)
            }
        })
}

$("#classify_newcomment").on('keyup', function(e) {
    if ((e.key === 'Enter' || e.keyCode === 13) && !e.shiftKey) {
        addComment(current_modal_issue_id)
    }
})

function resizeCommentbox(textarea_element) {
    textarea = textarea_element[0]
    textarea.style.height = 0
    textarea.style.height = textarea.scrollHeight + "px"
}

function addComment(issue) {
    input = document.getElementById("classify_newcomment")
    comment_text = input.value.trim()
    fetch(`/manual/comments/${issue}`, {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
        comment: comment_text
    })})
        .then(e => {
            if (e.status == 200) {
                input.value=""
                setCommentsFor(issue)
            }
            else {
                alertDbError(e)
            }
        })
}

function removeTag(tag, issue_id) {
    console.log(`Removing tag ${tag} from issue ${issue_id}`)
    fetch(`/manual/tags/${issue_id}/${tag}`, {method:"DELETE"})
    .then(e => {
        if (e.status == 200) {
            updateTagsFor(issue_id)
        }
        else {
            alertDbError(e)
        }
    })
}
function addTag(issue_id) {
    // grab select
    value = document.getElementById(`${issue_id}_newtag_select`).value
    fetch(`/manual/tags/${issue_id}/${value}`, {method: "POST"})
    .then(e => {
        if (e.status == 200) {
            updateTagsFor(issue_id)
        }
        else {
            alertDbError(e)
        }
    })
}

function updateTagsFor(issue_id) {
    fetch(`/manual/tags/${issue_id}`)
    .then(e=>{
        e.json().then(issueTags=>{
            tagTable = document.getElementById(`${issue_id}_tags`)
            tooltips = {{man_tags|tojson|safe}};

            new_html = ``
            options = Object.keys(tooltips)
            issueTags.forEach(this_tag => {
                if (options.includes(this_tag)) {
                    row = `<td><button type="button" class="btn text-start m-0 p-0" title="${tooltips[this_tag]}">${this_tag}</button></td>`
                    row += `<td><button class="btn btn-danger" onclick="removeTag('${this_tag}', '${issue_id}')">Remove</button></td>`
                    new_html += `<tr>${row}</tr>`
                    idxToRemove = options.indexOf(this_tag)
                    delete options[idxToRemove]
                }
            })
            
            optionsHTML = ""
            options.forEach(option => {
                optionsHTML += `<option value='${option}'>${option}</option>`
            })
            new_html += `<tr><td><select id="${issue_id}_newtag_select">${optionsHTML}</select></td><td><button class="btn btn-primary" onclick="addTag('${issue_id}')">Add Tag</button></td></tr>`
            new_html = `<tbody>${new_html}</tbody>`
            tagTable.innerHTML = new_html
        })
    })
}

issue_ids_all = Object.keys({{manual|tojson|safe}})
issue_ids_all.forEach(id => {
    updateTagsFor(id)
})

function alertDbError(response) {
    str = `Something went wrong while processing your request: DB API returned code ${response.status}.`
    if (response.status == 401)
        str += " Double-check if you're logged in correctly!"
    response.json().then(data => {
        str += "\n\nResponse body:\n"
        str += JSON.stringify(data)
        alert(str)
    })
    .catch(e => {
        alert(str)
    })
}
</script>
{% endblock %}