{% extends 'base.html' %}

{% block subtitle %}View Issue List{% endblock %}

{% block headerExtra %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />
{% endblock %}

{% block margin_content %}
<div>
    <div>
        <p class="my-2">
            Use shift-click to order by multiple columns at the same time.
        </p>
    </div>
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Action</th>
                <th>Classification</th>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <td><a href="https://issues.apache.org/jira/browse/{{issue}}" target="_blank">{{issue}}</a></td>
                <td><button onClick="displayDialog( '{{issue}}' )">Classify</button></td>
                <td>{{classifications[issue]}}</td>
                    {% for header in headers %}
                        <td>{{issues[issue][header]}}</td>
                    {% endfor %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.13.1/sorting/numString.js"></script>
<script>
    $(document).ready(function() {
        $.fn.dataTable.numString(/\d+/);
        $('#data').DataTable()
    })

    function validateInput(input) {
        const classifications = ["property","existence","executive"]
        const nonarch = "non-architectural"
        if (input.toLowerCase() === nonarch) return true // only nonarchitectural - that's fine
        const in_split = input.toLowerCase().split(',')
        if (in_split.length > 3) return false // we only process three different values
        var valid = true
        var processed = []
        in_split.forEach(element => {
            if (!classifications.includes(element)) valid = false // if one of the values is invalid, we reject
            if (processed.includes(element)) valid=false // if one of the values is there multiple times, we reject
            processed.push(element)
        });
        return valid
    }

    function displayDialog(issueKey) {
        const prompt_q = "Enter your classification:\n(Examples: 'Existence', 'Executive,Property', 'Non-architectural')"
        var user_input = prompt(prompt_q)
        while (!validateInput(user_input)) {
            user_input = prompt("Oops, that wasn't valid input. Try again:\n"+prompt_q)
        }

        console.log(user_input.split(','))
        const target_url = {{url_for("runs.classify")|tojson}}
        const body = {
            "issue": issueKey,
            "classification": user_input.toLowerCase().split(',')
        }
        fetch(target_url, {
            "method": "POST",
            "headers": {"Content-Type": "application/json"},
            "body": JSON.stringify(body)
        })
    }
</script>
{% endblock %}