{% extends 'base.html' %}

{% block subtitle %}Create Ontology{% endblock %}

{% block margin_content %}
<h4>Upload a new Ontology File</h4>
<hr />
<form method="POST" action="{{ url_for('ontologies.create') }}" enctype=
 "multipart/form-data">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="desc">Ontology Description: </label>
        <div class="col-sm-10">
            <input type="text" size="30" id="desc" name="desc" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="file">Ontology File: </label>
        <div class="col-sm-10">
            <input type="file" id="file" name="file" required/>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Upload Ontology File">
</form>
{% endblock %}