{% extends 'base.html' %}

{% block subtitle %}Ontologies{% endblock %}

{% block margin_content %}
<h3>Ontologies for Machine Learning Models</h4>

<form action="{{url_for('ontologies.viewform')}}" method="GET">
    <input type="submit" value="Upload New Ontology" class="btn btn-primary my-2" />
</form>

<div class="card my-2">
    <div class="card-body">
        <h4>Available Ontologies</h4>
        <ul>
            {% for o in ontologies %}
            <li><a href="{{url_for('ontologies.view', ontology=o['file_id'])}}">{{o['description']}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}