{% extends 'base.html' %}

{% block subtitle %}Login{% endblock %}

{% block margin_content %}
<p>Note that logging in is necessary to make changes to data, such as predicting with models or classifying issues.</p>

<hr />

{% block loginspecific %}{% endblock %}

<hr />

<div class="form-group my-2">
    <label for="db_url" class="col-form-label">Database URL: </label>
    <input name="db_url" id="db_url" type="text" class="mx-2" value="{{db}}" />
</div>
<button type="button" class="btn btn-primary my-2" onclick="setNewDBURL()">Save Database URL</button>
<div class="d-none" id="db_url_saved">
    New Database URL was saved!
</div>

<hr />

<div class="form-group my-2">
    <label for="cli_url" class="col-form-label">ML Pipeline URL: </label>
    <input name="cli_url" id="cli_url" type="text" class="mx-2" value="{{cli}}" />
</div>
<button type="button" class="btn btn-primary my-2" onclick="setNewCLIURL()">Save ML Pipeline URL</button>
<div class="d-none" id="cli_url_saved">
    New ML Pipeline URL was saved!
</div>

<hr />

<div class="form-group my-2">
    <label for="search_url" class="col-form-label">Search Engine URL: </label>
    <input name="search_url" id="search_url" type="text" class="mx-2" value="{{search}}" />
</div>
<button type="button" class="btn btn-primary my-2" onclick="setNewSearchURL()">Save Search Engine URL</button>
<div class="d-none" id="search_url_saved">
    New Search Engine URL was saved!
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function setNewDBURL() {
    new_url = document.getElementById("db_url").value
    fetch(`/login/setdb`, {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
        new_url: new_url
    })}).then(r => {
        document.getElementById("db_url_saved").setAttribute("class", "")
    })
}

function setNewCLIURL() {
    new_url = document.getElementById("cli_url").value
    fetch(`/login/setcli`, {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
        new_url: new_url
    })}).then(r => {
        document.getElementById("cli_url_saved").setAttribute("class", "")
    })
}

function setNewSearchURL() {
    new_url = document.getElementById("search_url").value
    fetch(`/login/setsearch`, {method: "POST", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
        new_url: new_url
    })}).then(r => {
        document.getElementById("search_url_saved").setAttribute("class", "")
    })
}
</script>
{% endblock %}