{% extends 'base.html' %}

{% block subtitle %}Login{% endblock %}

{% block margin_content %}
<p>Note that logging in is necessary to make changes to data, such as predicting with models or classifying issues.</p>

<hr />

<form method="POST" id="user_login" action="{{ url_for('login.login') }}">
    <div class="form-group my-2">
        <label for="username" class="col-form-label">Username: </label>
        <input name="username" id="username" type="text" class="mx-2" />
    </div>
    <div class="form-group my-2">
        <label for="password" class="col-form-label">Password: </label>
        <input name="password" id="password" type="password" class="mx-2" />
    </div>

    <input type="submit" class="btn btn-primary my-2" value="Log in" />
</form>
{% endblock %}