{% extends "bootstrap/base.html" %}

{% block title %}Arch UI - {% block subtitle %}{% endblock %}{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='archui.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('index')}}">Arch UI</a></h1>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('models.viewall') }}">View all Models</a>
                </li>
                <li>
                    <a href="{{ url_for('models.createModel') }}">Make New Model</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('models.hyperParamHelp') }}">Hyper Parameter Help</a>
                        </li>
                        <li>
                            <a href="{{ url_for('models.paramHelp') }}">Parameter Help</a>
                        </li>
                        <li>
                            <a href="{{ url_for('models.comboStrat') }}">Combination Strategy Help</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="padding-y-md">
    {% block margin_content %}{% endblock %}
</div>
{% endblock %}