{% extends 'base.html' %}

{% block subtitle %}Viewing Issue{% endblock %}

{% block margin_content %}
<h3>Viewing Issue <a href="{{data['issue_link']}}" target="_blank">{{data['issue_id'].split('-')[0]}}-{{data['issue_key']}}</a></h3>
<div>
    <p>
        {% for label in labels %}
        <span class="badge bg-secondary">{{label}}</span>
        {% endfor %}
    </p>
</div>

<h4>Summary</h4>
<div class="card card-body my-2">
    {{data['summary']}}
</div>

<div>
    <button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#desc_div" aria-expanded="false" aria-controls="desc_div">
        Description
    </button>
    <div id="desc_div" class="collapse">
        <div class="card card-body">
            <h4>Description</h4>
            <p>{{data['description']}}</p>
        </div>
    </div>
</div>

<div>
    <button class="btn btn-primary my-2" type="button" data-bs-toggle="collapse" data-bs-target="#tags_div" aria-expanded="false" aria-controls="tags_div">
        Tags
    </button>
    <div id="tags_div" class="collapse">
        <div class="card card-body">
            <h4>Tags</h4>
            <ul>
                {% for tag in data['tags'] %}
                <li>{{tag}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}